* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    width: 1280px;
    margin: 0 auto;
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-Light.woff2)
        url(fonts/Montserrat/Montserrat-Light.woff)
        url(fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-Regular.woff2)
        url(fonts/Montserrat/Montserrat-Regular.woff)
        url(fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 4px;
    width: 100%;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #555555;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #555555;
    text-align: center;
}
.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center; 
}
.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #988574;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    transition-duration: 0.3s;
}
.btn:hover {
    color: #988574;
    background: white;
}
/*HEADER*/
header {
    background: #FFFFFF;
    background-image: url(img/header.png);
    background-repeat: no-repeat;
    background-position: center;
}
.header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    margin-right: 352px;
}
.logo-img {
    margin-top: 39px;
    transition-duration: 1s;
    animation: rotate 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate ;
}
@keyframes rotate {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
}
.waxon {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    margin-top: 46px;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    width: 739px;
    margin-top: 54px;
}
.cart {
    margin-right: 30px;
}
.icons {
    fill: #FFFFFF;
    transition-duration: 0.3s;
}
.icons:hover {
    fill: #C7B299;
}
.link {
    text-decoration: none;
    color: white;
    margin-right: 24px;
    font-size: 14px;
    line-height: 17px;
    transition-duration: 0.3s;
}
.last-link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 17px;
}
.link:hover, 
.last-link:hover {
    color:  #C7B299;
}
.slogan {
    margin-top: 315px;
    width: 569px;
}
.slogan-desc {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    font-style: normal;
    text-align: center;
}

.started {
    padding: 19px 40px;
    margin-top: 39px;
    margin-bottom: 312px;
}
.fas {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 900;
}
.fas:hover {
    font-weight: 1;
}
.slider {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 49px;
}

/* SERVICES*/
.services {
    background: #FFFFFF;
}
.services-items {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 87px;
}
.serv-text {
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
    margin-bottom: 29px;
}
.serv-box {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#serv {
    margin-right: 30px;
}
.serv-icon {
    fill: #555555;
    margin-bottom: 30px;
    transition-duration: 0.3s;
}
.serv-box:hover .serv-icon {
    fill:  #C7B299;
    transform: scale(1.5);
}
.serv-box:hover .serv-title {
    color: #C7B299;
    cursor: default;
}
.serv-text:hover {
    cursor: default;
}
.line {
    fill:  #F1EEE9;
    transition-duration: 0.3s;
}



/* WAXON-REALIZ*/
.waxon-realiz {
    background: #E5E5E5;
}
.realiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.realiz-tetx {
    width: 770px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
    margin-top: 20px;
    margin-bottom: 42px;
}
/* PURCHASE*/
.purchase {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}
.purchase-cont {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 45px;
}
.purchase-title {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #C7B299;
    margin-bottom: 6px;
}
.purchase-info {
    font-size: 18px;
    line-height: 22px;
    color: #615855;
}
span {
    color: white;
}
.now {
    padding: 18px 32px;
}
/* LATEST*/
.latest {
    background: #FFFFFF;
    padding-bottom: 33px;
}
.latest-cont {
    display: flex;
    flex-direction: column;
    padding-top: 61px;
}
.latest-text {
    color:  #8C8C8C;
    font-weight: 300;
    width: 802px;
    align-self: center;
    margin-top: 9px;
    margin-bottom: 27px;
}
.latest-nav {
    align-self: center;
    margin-bottom: 69px;
}
#btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8C8C8C;
    width: 120px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 3px;
    padding-top: 7px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, 1);
    margin-right: 10px;
    transition-duration: 0.4s;
}
#btn:hover {
    background-color: #998575;
    color: white;
}
.latest-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.card {
    width: 370px;
    background: #FBFAF8;
    list-style: none;
    padding-bottom: 26px;
    margin-left: 30px;
}
.card:hover {
    background: #352F2D;
    transition-duration: 0.4s;
}
.item-title {
    margin-top: 26px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #C7B299;
    text-align: left;
    padding-left: 25px;
    transition-duration: 0.4s;
}
.item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    text-align: left;
    padding-left: 25px;
    transition-duration: 0.4s;
}
.card:hover .item-title {
    color: #FFFFFF;
}
.card:hover .item-text {
    color: #C7B299;
}
.last-btn {
    align-self: center;
    padding: 18px 46px;
    margin-top: 47px;
}
.parent {
    position: relative;
}
.card-overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5f5d5cb0;
    opacity: 0;
    transition-duration: 0.4s;

}
.card:hover .card-overplay {
    opacity: 1;
}
.parent img {
    display: block;
}







