* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap {
    max-width: 1280px;
    margin: 0 auto;
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-Light.woff2)
        url(fonts/Montserrat/Montserrat-Light.woff)
        url(fonts/Montserrat/Montserrat-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Montserrat';
    src: url(fonts/Montserrat/Montserrat-Regular.woff2)
        url(fonts/Montserrat/Montserrat-Regular.woff)
        url(fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 52px;
    margin-bottom: 4px;
    width: 100%;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #555555;
}
h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #555555;
    text-align: center;
    transition-duration: 0.4s;
}
.text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center; 
}
.btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #988574;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    transition-duration: 0.3s;
}
.btn:hover {
    color: #988574;
    background: white;
}
/*HEADER*/
header {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
    background-image: url(img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.header-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head {
    display: flex;
    justify-content: space-between;
}
.logo {
    display: flex;
    margin-right: 352px;
}
.logo-img {
    margin-top: 39px;
    transition-duration: 1s;
    animation: rotate 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate ;
}
@keyframes rotate {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(360deg);
              transform: rotateY(360deg);
    }
}
.waxon {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    margin-top: 46px;
}
.burger {
    display: none;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    width: 739px;
    margin-top: 54px;
}
.cart {
    margin-right: 30px;
}
.icons {
    fill: #FFFFFF;
    transition-duration: 0.3s;
}
.icons:hover {
    fill: #C7B299;
}
.link {
    text-decoration: none;
    color: white;
    margin-right: 24px;
    font-size: 14px;
    line-height: 17px;
    transition-duration: 0.3s;
}
.last-link {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 17px;
}
.link:hover, 
.last-link:hover {
    color:  #C7B299;
}

.slogan {
    margin-top: 315px;
    width: 569px;
}
.slogan-desc {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    font-style: normal;
    text-align: center;
}
.started {
    padding: 19px 40px;
    margin-top: 39px;
    margin-bottom: 312px;
}
.pagin-btn {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 900;
}
.pagin-btn:hover {
    font-weight: 1;
}
.slider {
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 49px;
}
.slider-btn {
    position: absolute;
    top: 450px;
    fill: white;
    background: none;
    border: none;
}
.slider-btn:hover {
    fill: #D3C1AC;
    cursor: pointer;
}
.header-left {
    left: 300px;
}
.header-right{
    right: 300px;
}

/* SERVICES*/
.services {
    background: #FFFFFF;
}
.services-items {
    display: flex;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 87px;
}
.serv-text {
    color: #000000;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
    margin-bottom: 29px;
}
.serv-box {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.serv {
    margin-right: 30px;
}
.serv-icon {
    fill: #555555;
    margin-bottom: 30px;
    transition-duration: 0.3s;
}
.serv-box:hover .serv-icon {
    fill:  #C7B299;
    transform: scale(1.5);
}
.serv-box:hover .serv-title {
    color: #C7B299;
    cursor: default;
}
.serv-text:hover {
    cursor: default;
}
.line {
    fill:  #F1EEE9;
    transition-duration: 0.3s;
}



/* WAXON-REALIZ*/
.waxon-realiz {
    background: #E5E5E5;
}
.realiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}
.realiz-tetx {
    width: 770px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #8C8C8C;
    margin-top: 20px;
    margin-bottom: 42px;
}
/* PURCHASE*/
.purchase {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}
.purchase-cont {
    display: flex;
    justify-content: space-between;
    padding-top: 44px;
    padding-bottom: 45px;
}
.purchase-title {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #C7B299;
    margin-bottom: 6px;
}
.purchase-info {
    font-size: 18px;
    line-height: 22px;
    color: #615855;
    text-align: center;
}
span {
    color: white;
}
.now {
    padding: 18px 32px;
}

/* LATEST*/
.latest {
    background: #FFFFFF;
    padding-bottom: 33px;
}
.latest-cont {
    display: flex;
    flex-direction: column;
    padding-top: 61px;
}
.latest-text {
    color:  #8C8C8C;
    font-weight: 300;
    width: 802px;
    align-self: center;
    margin-top: 9px;
    margin-bottom: 27px;
}
.latest-nav {
    align-self: center;
    margin-bottom: 69px;
}
.latest-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8C8C8C;
    width: 120px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    border-radius: 3px;
    padding-top: 7px;
    padding-bottom: 8px;
    background: rgba(255, 255, 255, 1);
    margin-right: 10px;
    transition-duration: 0.4s;
}
.latest-btn:hover {
    background-color: #998575;
    color: white;
}
.latest-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.card {
    width: 370px;
    background: #FBFAF8;
    list-style: none;
    padding-bottom: 26px;
}
.card:nth-child(3n+2) {
	margin-left: 30px;
	margin-right: 30px;
}
.row-1 {
    margin-bottom: 69px;
}
.card:hover {
    background: #352F2D;
    transition-duration: 0.4s;
}
.item-title {
    margin-top: 26px;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #C7B299;
    text-align: left;
    padding-left: 25px;
    transition-duration: 0.4s;
}
.item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    text-align: left;
    padding-left: 25px;
    transition-duration: 0.4s;
}
.item {
    position: relative;
}
.item::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid  #FBFAF8;
    position: absolute;
    top: -46px;
    left: 15px;
    transition-duration: 0.4s;
}
.card:hover .item-title {
    color: #FFFFFF;
}
.card:hover .item-text {
    color: #C7B299;
}
.card:hover .item::before{
    border: transparent;
}
.last-btn {
    align-self: center;
    padding: 18px 46px;
    margin-top: 47px;
}
.parent {
    position: relative;
}
.card-overplay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5f5d5cb0;
    opacity: 0;
    transition-duration: 0.4s;
}
.card:hover .card-overplay {
    opacity: 1;
}
.parent img {
    display: block;
}

/* VIDEO*/
.video {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #352F2D;
    padding-top: 248px;
    background-image: url(img/video.png);
    padding-bottom: 195px;
}
.video-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.play {
    margin-bottom: 31px;
}
.video-title {
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 18px;
}
.video-text {
    width: 570px;
    margin-bottom: 18px;
}
.time {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #C7B299;
}
.play-img {
    position: absolute;
    top: 14px;
}

/*MOBILE*/
.mobile {
    background: #FBFAF8;
    padding-top: 78px;
}
.mobile-cont {
    display: flex;
    justify-content: center;
}
.mobile-cont img {
    margin-right: 64px;
}
.mobile-caption {
    text-align: left;
}
.mobile-text {
    font-weight: 300;
    color: #8C8C8C;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 670px;
    text-align: left;
}
.mobile-li {
    color: #8C8C8C;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}
.mobile-elem {
    margin-bottom: 11px;
    padding-left: 30px;
    background-image: url(img/icons/arrow.png);
    background-repeat: no-repeat;
    background-position: left;
}
.mobile-elem-4 {
    padding-left: 30px;
    background-image: url(img/icons/arrow.png);
    background-repeat: no-repeat;
    background-position: left;
}
.mobile-items {
    list-style: none;
    margin-left: 131px;
}
.mobile-desc {
    align-self: center;
}

/*COUNTERS*/
.counters {
    background: radial-gradient(94.87% 15543.47% at 4.58% 100%, #211B19 0%, #4E3326 100%);
}
.counters-list {
    padding-top: 36px;
    padding-bottom: 36px;
    list-style: none;
    display: flex;
    justify-content: center;
}
.counters-box {
    text-align: center;
    margin-right: 70px;
}
.number {
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
}
.desc {
    font-size: 14px;
    line-height: 17px;
    color: #C7B299;
    margin-bottom: 15px;
}
/*POSTS*/
.posts {
    background: #FFFFFF;
}
.posts-content {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}
.posts-text {
    line-height: 28px;
    color: #8C8C8C;
    width: 770px;
    margin-top: 20px;
    margin-bottom: 30px;
    align-self: center;
}
.posts-items {
    display: flex;
    list-style: none;
    margin-bottom: 54px;
}
.card-image {
    width: 100%;
    display: block;
}
.posts-card {
    border: 1px solid #B3B3B3;
    box-sizing: border-box;
    background: white;
    transition-duration: 0.4s;
}
.posts-card:hover {
    background: #352F2D;
}
.posts-card:nth-child(3n+2) {
    margin-left: 85px;
    margin-right: 85px;
}
.data-overlay {
    position: absolute;
    top: 17px;
    left: 29px;
    width: 50px;
    height: 58px;
    background: black;
    text-align: center;
}
.data {
    font-size: 30px;
    line-height: 37px;
    background: #363636;
    border-radius: 3px;
    padding: 1px 6px;
    transition-duration: 0.4s;
}
.month {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    background: #242424;
    border-radius: 0px 0px 3px 3px;
    padding: 6px 13px;
    transition-duration: 0.4s;
}
.card-info {
    padding: 31px 36px 22px 23px;
}
.card-info h3 {
    text-align: left;
    margin-bottom: 22px;
}
.card-text {
    text-align: left;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 17px;
    transition-duration: 0.4s;
}
.read-more {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
}
.read-more p {
    font-size: 14px;
    line-height: 17px;
    color: #C7B299;
    margin-right: 9px;
}
.read-more::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 5px solid #C7B299;
    align-self: center;
}
.posts-card:hover h3 {
    color: #C7B299;
}
.posts-card:hover .card-text {
    color: #FFFFFF;
}
.posts-card:hover .data {
    background: #C7B199;
    border-radius: 3px;
}
.posts-card:hover .month {
    background: #A48D71;
    border-radius: 0px 0px 3px 3px;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #42373259;
    opacity: 0;
    transition-duration: 0.4s;
}
.posts-card:hover .image-overlay {
    opacity: 1;
}
.posts-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 38px;
}
.pagination {
    fill: #C7B299;
    transition-duration: 0.4s;
}
.pagination:hover {
    fill: #8C8C8C;
    cursor: pointer;
    transform: scale(1.5);
}
.left {
    border-color: transparent;
    background-color: transparent;
    margin-right: 18px;
}
.right {
    border-color: transparent;
    background-color: transparent;
}

/*PARTNERS*/
.partners {
    background-image: url(img/partners.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #352F2D;
    background-size: cover;
}
.partners-img {
    padding-top: 140px;
    padding-bottom: 139px;
    display: flex;
    justify-content: center;
} 
.partners-logo {
    margin-right: 75px;
    transition-duration: 0.4s;
}
.partners-logo:hover {
    transform: rotateX(45deg);
}
.partners-logo-4 {
    transition-duration: 0.4s;
}
.partners-logo-4:hover {
    transform: rotateX(45deg);
}

/*FOOTER*/
.footer {
    background: #191919;
}
.footer-blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 128px;
}
.block {
    width: 270px;
    margin-left: 50px;
}
.block:first-child {
    margin-left: 0;
}
.footer-logo {
    display: flex;
}
.footer-logo-img {
    transition-duration: 1s;
    animation: rotate 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite alternate ;
    margin-top: 74px;
}
.footer-waxon {
    font-weight: normal;
    font-size: 34px;
    line-height: 40px;
    font-family: 'Raleway', sans-serif;
    margin-top: 88px;
}
.about {
    margin-top: 18px;
    font-size: 14px;
    line-height: 17px;
    color: #555555;
    margin-bottom: 18px;
}
.footer-link {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
}
.footer-link p {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #D1D1D1;
    margin-right: 7px;
}
.footer-link::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 5px solid #C7B299;
    align-self: center;
}
.footer-posts {
    margin-top: 108px;
}
.headline {
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.recent-posts {
    list-style: none;
}
.footer-post:nth-child(3n+2) {
    margin-top: 12px;
    margin-bottom: 16px;
}
.post-data {
    font-size: 12px;
    line-height: 15px;
    color: #363636;
    margin-bottom: 6px;
}
.post2-data {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 6px;
    color: #FFFFFF;
}
.post2 {
    font-size: 14px;
    line-height: 17px;
    color: #C7B299;
}
.post {
    font-size: 14px;
    line-height: 17px;
    color: #555555;
}
.footer-post2 {
    color: #C7B299;
    font-size: 14px;
    line-height: 17px;
}
.twitter {
    margin-top: 108px;
}
.twitter-posts {
    list-style: none;
}
.twitter-link {
    text-decoration: none;
    color:  #00BFF3;
    font-size: 14px;
    line-height: 17px;
}
.twit-post:nth-child(3n+2) {
    margin-top: 12px;
    margin-bottom: 12px;
}
.twit {
    margin-top: 6px;
    margin-bottom: 0;
}
.bit {
    text-decoration: none;
    color: #C7B299;
}
.widgets {
    margin-top: 108px;
}
.widget-img {
    transition-duration: 0.4s;
}
.widget-img:hover {
    transform: scale(0.75)
}
.bottom {
    background: #101010;
    padding-top: 58px;
    padding-bottom: 41px;
}
.copy-item {
    list-style: none;
    display: flex;
}
.copyright {
    font-size: 13px;
    line-height: 16px;
    color: #555555;
    margin-right: 25px;
}
.faq {
    color: #BAA78F;
    margin-right: 25px;
}
@media (max-width: 1300px) {
    .wrap {
        width: 768px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .head {
        display: flex;
        justify-content: space-between;
    }
    .logo {
        margin-right: 0;
    }
    .burger {
        display: block;
        margin-top: 54px;
        margin-right: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background: #988574;
        border-radius: 3px;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 16px;
        color: white;
        padding: 16px;
        transition-duration: 1s;
    }
    
    .menu {
        position: relative;
        display: inline-block;
    }
    
    .menu-links {
        display: none;
        position: absolute;
        background-color:  #FBFAF8;
        min-width: 50px;
        z-index: 1;
        transition-delay: 0.4s;
        margin-top: 0;
    }
    
    .menu-links a {
        margin-right: 24px;
        font-size: 16px;
        line-height: 17px;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .menu-links .icons {
        fill: black;
    }
    .menu-links a:hover {
        background-color:  #C7B299;
        color: white;
    }
    .menu-links .icons:hover {
        fill: white;
    }
    .menu:hover .menu-links {
        display: block;
    }
    
    .menu:hover .burger {
        transform: scale(0);
    }
    .menu-icon { 
        display: flex;
    }
    .nav-links {
        display: none;
    }
    .slogan {
        margin-top: 100px;
    }
    .started {
        margin-bottom: 100px;
    }
    .header-left {
        left: 20px;
        top: 230px;
    }
    .header-right {
        right: 20px;
        top: 230px;
    }
    .services-items {
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .realiz {
        padding-top: 20px;
    }
    .realiz-img {
        width: 100%;
    }
    .purchase-cont {
        flex-direction: column;
        align-items: center;
    }
    .now {
        margin-top: 20px;
    }
    .latest-text {
        width: 100%;
    }
    .latest-items {
        flex-direction: column;
        align-items: center;
    }
    .card {
        margin-bottom: 20px;
    }
    .card-img {
        width: 100%;
    }
    .last-btn {
        margin-top: 0;
    }
    .video {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .mobile {
        padding-top: 30px;
    }
    .mobile-img {
        display: none;
    }
    .mobile-desc {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .mobile-items {
        margin-left: 0;
        margin-bottom: 20px;
    }
    .counters-list {
        flex-wrap: wrap;
        padding-top: 0;
        padding-bottom: 20px;
    }
    .counters-box {
        width: 200px;
        margin-top: 20px;
        margin-right: 20px;
    }
    .number {
        font-size: 30px;
        line-height: 20px;
    }
    .desc {
        margin-bottom: 0;
    }
    .posts-content {
        padding-top: 30px;
    }
    .posts-items {
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
    }
    .posts-card {
        width: 90%;
        margin-bottom: 20px;
    }
    .posts-btn {
        margin-bottom: 10px;
    }
    .partners-img {
        flex-wrap: wrap;
        padding-top: 50px;
        padding-bottom: 50px;
    }
   .row-2 {
        margin-top: 30px;
    }
    .footer-blocks {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
        }
    .footer-logo-img,
    .footer-posts,
    .twitter,
    .widgets {
        margin-top: 30px;
        }
    .footer-waxon {
        margin-top: 40px;
    }
    .bottom {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .copy-item {
        justify-content: center;
    }
}
@media (max-width: 800px) {
    .wrap {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .slogan {
        width: 80%;
    }
    h1 {
        font-size: 30px;
        text-align: center;
    }
    .slogan-desc {
        font-size: 25px;
    }
    .header-left,.header-right {
        display: none;
    }
    .realiz-tetx {
        width: 100%;
    }
    .card {
        width: 80%;
    }
    .latest-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;
    }
    .latest-btn {
        margin-bottom: 10px;
    }
    .btn {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .video-text {
        width: 100%;
    }
    .mobile-text {
        width: 100%;
        padding-left: 20px;
    }
    .mobile-items {
        margin-left: 20px;
    }
    .mobile-caption {
        text-align: center;
    }
    .posts-text {
        width: 100%;
    }
    .partners-logo {
        margin-right: 0;
        margin-top: 20px;
    }
    .partners-img {
        width: 300px;
    }
    .partners {
        background-size: cover;
    }
    .block {
        margin-left: 0;
    }

}




